<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    // make the whole body a dropzone
    var myDropzone = new Dropzone(document.body, {
        url: "/upload",
        previewsContainer: "#previews",
        clickable: "#clickable"
    });

    myDropzone.on("success", function(file, response) {
        location.href = file.name;
    });

</script>

<script type="text/javascript">

    $(".chosen_addr").chosen({
        no_results_text: "Nothing found!",
        allow_single_deselect: true,
        search_contains: true
    });

    $(".chosen_bnl").chosen({
        no_results_text: "Nothing found!",
        allow_single_deselect: true,
        search_contains: true
    });

    $(".chosen_date").chosen({
        no_results_text: "Nothing found!",
        allow_single_deselect: true,
        search_contains: true
    });

    $("#addr_opt").on("change" ,function(){
        $(".chosen_addr").attr("disabled", !this.checked).trigger("chosen:updated");
    });

    $("#date_opt").on("change" ,function(){
        $(".chosen_date").attr("disabled", !this.checked).trigger("chosen:updated");
    });

    $("#blocknlot_opt").on("change" ,function(){
        $(".chosen_bnl").attr("disabled", !this.checked).trigger("chosen:updated");
    });

</script>
