<!DOCTYPE html>
<html lang="en">
<head>
    <title>TidyDate</title>

    {% include "components/styles.html" %}    

</head>

<body>
    <form method="POST" class="form-horizontal form-label-left">

        <div>
            <select data-placeholder="Select the date column" id="column" name="column" class="chosen">
                {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Upload">
        </div>

    </form>
</body>

{% include "components/scripts.html" %}

<script type="text/javascript">
    jQuery(".chosen").chosen();
</script>

</html>
