{% include "components/styles.html" %}
{% include "components/scripts.html" %}

<div id="previews" class="dropzone-previews"></div>
<button id="clickable">Click me to select files</button>

<script type="text/javascript">
    var myDropzone = new Dropzone(document.body, { // make the whole body a dropzone
        url: "/upload", // set the url
        previewsContainer: "#previews",
        clickable: "#clickable"
    });

    myDropzone.on("success", function(file, response){
        location.href = file.name;
    });

</script>
