{% extends "components/base.html" %}

{% block title_content %} | Parameters{% endblock %}

{% block body_content %}

<body>
    <form method="POST">

        <div class="outer">
            <div class="middle">
                <div class="inner">

                    <section class="flat">
                        <p>
                            {{ opts }}
                            {% for option_name, option in opts.items() %}
                                <input type="checkbox" id="{{ option }}" name="{{ option }}"/>
                                <label for="{{ option }}">{{ option_name }}</label>
                            {% endfor %}
                        </p>

                        <select data-placeholder="Select the date column" id="column" name="column" class="chosen">
                            {% for column in cols %}
                                <option value="{{ column }}">{{ column }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Choose Column">
                    </section>

                </div>
            </div>
        </div>

    </form>

</body>

{% endblock %}